* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

<<<<<<< HEAD
=======
/*nuevo comentario*/
>>>>>>> 36aeb1d (cambios para geogi)

nav a {
    display: inline-block;
    margin-top: -5px;
    transition: all 300ms;
}

nav a:hover {
    color:black;
    transform: scale(1.1, 1.1);
    text-decoration: none;
}

nav {
    background: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

label.logo {
    color:#008F95;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Raleway', serif !important;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul:last-child {
    margin-right: 5px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    /*background: rgb(241, 210, 33);*/
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1c1d1f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 99999;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #FC8E0A;
    }
    #check:checked~ul {
        left: 0;
    }
    /*Si le agregamos fondo tiene que ser: 
    section{
      background: url(bg1.jpg) no-repeat;
      background-size: cover;
      height: calc(100vh - 80px);
    }*/
}