<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ENTERarte - Todo lo que busques está aquí</title>

    <!--CARRITO-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <!--FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://wise.com/currency-converter-assets/fonts/TW-Averta-Regular.woff2" rel="stylesheet">


    <!--NAV-->
    <link rel="stylesheet" href="../css/nav.css">

    <!--FOOTER-->
    <link rel="stylesheet" href="../css/footer.css">

    <!--COOKIES-->
    <link rel="stylesheet" href="../css/cookies.css">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--JS del HEADER-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>
    <!-- HEADER -->
    <header>
        <nav class="Navegador">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
                </label>
            <label class="logo"><span style="font-weight: normal;">ENTER</span>arte</label>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="event.html">Eventos</a></li>
                <li><a href="post.html">Publicar</a></li>
                <li><a href="about.html">Quienes somos</a></li>
                <li><a href="login.html">Mi Cuenta</a></li>
                <ul class="navbar-right">
                    <!--PC-->
                    <li id="pc"><a href="pages/cart.html" id="cart"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li>
                    <!--MOVIL-->
                    <!-- <li id="movil"><a href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li> -->
                    <!--</ul>-->
                </ul>
            </ul>
        </nav>

        <div class="conteiner">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">0</span>
                    <div class="shopping-cart-total">
                    </div>
                </div>

                <ul class="shopping-cart-items">
                </ul>

                <a href="pages/cart.html" class="button">Checkout</a>
            </div>
        </div>
    </header>
    <br><br>

    <!-- MAIN -->
    <main role="main">
        <!-- FOTO PRINCIPAL -->
        <section class="jumbotron text-center principal">
            <div class="m-5">
                <h1></h1>
            </div>
        </section>

        <h1 style="display: none;">ENTERarte</h1>

    </main>
    <section class="section">

        <section class="seccion">
            <div class="contenedorGral">

                <div class="contenedorPoliticas">
                    <h1>POLÍTICA DE COOKIES</h1>
                    <br>
                    <br>
                    <h2>¿QUÉ SON LAS COOKIES?</h2>
                    <p>Una cookie es un pequeño fichero de letras y cifras que se almacena en el navegador del usuario al acceder a determinadas páginas web. Las cookies pueden ser de “sesión” que se eliminaran al terminar la sesión con el sitio web, o “persistentes”
                        que permanecerán en el ordenador durante un periodo de tiempo determinado definido por el responsable de la cookie. Asi mismo las cookies pueden ser propias cuando se gestionen en el dominio al que accede el usuario para solicitar
                        el servicio, o de terceros, que serán enviadas al equipo del usuario desde un dominio diferente a aquel al que accedió.</p>
                    <br>

                    <h2>¿QUÉ TIPO DE COOKIES UTILIZAMOS?</h2>
                    <p>Esta web almacena tanto cookies propias como de terceros con el objetivo de adaptar los contenidos a sus intereses y facilitar su navegación.</p>
                    <br>

                    <ul>
                        <li class="estiloCookies">COOKIES PROPIAS</li>
                    </ul>
                    <p>Tienen el objetivo de controlar el tráfico y la comunicación correcta de datos, mantener la configuración, identificar sesiones de navegación (que los servidores reconozcan, a pesar de pasar de una página a otra, que se trata de la
                        misma sesión de navegación de un usuario), acceder a partes de acceso restringido, utilizar elementos de seguridad durante la navegación. Sin ellas, no funcionaría correctamente el sitio web.</p>
                    <br>

                    <ul>
                        <li class="estiloCookies">COOKIES DE PERSONALIZACIÓN</li>
                    </ul>
                    <p>Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador
                        a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</p>
                    <br>

                    <ul>
                        <li class="estiloCookies">COOKIES DE ANÁLISIS</li>
                    </ul>
                    <p>Las cookies estadísticas ayudan a los propietarios de páginas web a comprender cómo interactúan los visitantes con las páginas web reuniendo y proporcionando información de forma anónima.</p>
                    <p>Este sitio Web utiliza Google Analytics, un servicio analítico de web prestado por Google. Para la prestación de estos servicios, estos utilizan cookies que recopilan la información, incluida la dirección IP del usuario, que será transmitida,
                        tratada y almacenada por Google en los términos fijados en la Web Google.com. Incluyendo la posible transmisión de dicha información a terceros por razones de exigencia legal o cuando dichos terceros procesen la información por
                        cuenta de Google.</p>
                    <br>

                    <ul>
                        <li class="estiloCookies">COOKIES DE TERCEROS</li>
                    </ul>
                    <p>Las cookies de terceros, recopilan la información con fines estadísticos, de uso del Site por parte del usuario y para la prestacion de otros servicios relacionados con la actividad del Website y otros servicios de Internet.</p>
                    <br>

                    <h2>¿COMO PUEDO REVOCAR EL CONSENTIMIENTO PARA EL USO DE COOKIES? ¿CÓMO PUEDO DESACTIVAR LAS COOKIES?</h2>
                    <p>El usuario puede en cualquier momento revocar el consentimiento para el uso de cookies mediante su desactivación o borrado, a través de las opciones de privacidad/seguridad de su navegador.</p>
                    <p>Para más información, te recomendamos que consultes la ayuda que tu navegador te ofrece para gestionar las cookies:</p>
                    <br>
                    <ul class="estiloNavegadores">
                        <li>Internet Explorer <a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies" target="_blank">http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies</a></li>
                        <li>Mozilla Firefox <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">//support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></li>
                        <li>Google Chrome <a href="//support.google.com/chrome/answer/95647?hl=es" target="_blank">//support.google.com/chrome/answer/95647?hl=es</a></li>
                        <li>Safari <a href="//support.apple.com/kb/HT1677?viewlocale=es_ES" target="_blank">//support.apple.com/kb/HT1677?viewlocale=es_ES</a></li>
                    </ul>
                </div>

            </div>

        </section>

        <div class="contenedor">
            <div class="contenedorCookies">
                <div class="parrafo">
                    <p>Nuestro sitio web utiliza cookies para almacenar,acceder y procesar datos personales como su visita a este sitio.Si no está de acuerdo, puede cambiar sus preferencias en el botón opciones. <a href="PoliticasCookies.html">Políticas de Cookies</a></p>
                </div>
                <div class="botones">
                    <button>Aceptar</button>
                    <button>Opciones</button>

                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer>
            <div class="container-footer-all">
                <div class="container-body">


                    <div class="column1">
                        <h1> Mas informacion de la Compañia</h1>
                        <p> EnterARTE ofrece a sus usuarios un abanico infinito de opciones para que el visitante se lleve la mejor de las experiencias.

                        </p>
                    </div>

                    <div class="column2">
                        <h1> Redes Sociales</h1>
                        <div class="row">
                            <img src="../img/face.jpg">
                            <label> Facebook </label>
                        </div>
                        <div class="row">
                            <img src="../img/insta.jpg">
                            <label> Instagram </label>
                        </div>
                        <div class="row">
                            <img src="../img/twitter.jpg">
                            <label> Twitter </label>
                        </div>

                    </div>


                    <div class="column3">

                        <h1> Información Contactos</h1>
                        <div class="row2">
                            <img src="../img/casa.jpg">
                            <label> Contamos con los siguientes medios de comunicación:</label>
                        </div>

                        <div class="row2">
                            <img src="../img/whatsapp.jpg">
                            <label> Cel. 2494-454541 </label>
                        </div>

                        <div class="row2">
                            <img src="../img/correo.jpg">
                            <label> correo electronico: enterarte@hotmail.com </label>
                        </div>
                    </div>
                </div>
                <div class="container-footer">
                    <div class="copyright"> © 2022 EnterArte, Inc.</div>
                </div>


            </div>

        </footer>
        <!-- Bootstrap core JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../js/init.js"></script>
        <script src="../js/carrito.js"></script>
        <script src="../js/search.js"></script>
</body>

</html>