<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>ENTERarte - Todo lo que busques está aquí</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--CARRITO-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../css/events.css">

    <!--CSS-->
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/event.css">

    <!--FOOTER-->
    <link rel="stylesheet" href="../css/footer.css">

    <!--FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!--NAV-->
    
    <link rel="stylesheet" href="../css/nav.css">
    


    <!--JS del HEADER-->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    

</head>


<body style="font-family: sans-serif;">
    <!-- partial:index.partial.html -->
    <nav>
        <div class='mini'>
            <p class='products'>Vacío</p>
            <p class='names'></p>
            <p class='miniprice'></p>
        </div>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
    </label>
            <label class="logo"><span style="font-weight: normal;">ENTER</span>arte</label>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="event.html">Eventos</a></li>
                <li><a href="post.html">Publicar</a></li>
                <li><a href="about.html">Quienes somos</a></li>
                <li><a href="login.html">Mi Cuenta</a></li>
                <ul class="navbar-right">
                    <!--PC-->
                    <li id="pc">
                        <a href="#" id="cart">
                            <i class="fa"></i>
                            <div class='cart icon-basket'>
                                <span class='number'>0</span>
                            </div>
                        </a>
                    </li>
                    <!--MOVIL-->
                    <li id="movil">
                        <a href="cart.html" class="active">
                            <i class="fa"></i>
                            <div class='cart icon-basket'>
                                <span class='number'>0</span>
                            </div>
                        </a>
                    </li>
                    <!--</ul>-->
                </ul>
        </nav>


        <!-- <div class="conteiner">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">0</span>
                    <div class="shopping-cart-total">
                    </div>
                </div>

                <ul class="shopping-cart-items">
                </ul>

                <a href="cart.html" class="button">Checkout</a>
            </div>
        </div> -->
        </header>
        <br><br>
         <!--<div class="banner">
            <div class="container">
                <p style="margin-bottom: 0px;" class="texto-derecha floatR desaparece"><input type="text" name="buscador" placeholder="Buscar..." class="buscador" id="buscador"><button class="btn-search" id="buttonSearch"><i class="material-icons">Buscar</i></button></p>
                <div class="clearfix"></div>
                <br>
            </div>
        </div> -->
    </nav>
    
    <div class="botonera">
        <button type="button" class="boton teatro" category="teatro">Teatro</button>
        <button type="button" class="boton musica" category="musica">Musica</button>
        <button type="button" class="boton arte" category="artesvisuales">Artes visuales</button>
        <button type="button" class="boton infantiles" category="infantiles"> Infantiles</button>
    </div>
    <div class="botonsolo">
        <button type="button" class="botontodos" category="todos">Todos los eventos</button>
    </div>
    

    <div class="prox-evento">
        <h1>EVENTOS</h1>
        <br>
        <h2 style="font-size: 2rem; font-family: sans-serif;">PRÓXIMOS</h2>
    </div>
    <div class='containerCarrito' id="arriba">
        <br><br><br><br>

        <!--EVENTOS-->

        <div class='product' category="teatro">
            <img src="../img/event.jpeg">
            <h2 class='header'>Teatro 1</h2>
            <p class='description' style="font-size:13px;">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 178,-</p>
            <div class='quickview'>Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px;">Agregar al Carrito</div>
        </div>
        
        <div class='product' category="musica">
            <img src='../img/event1.jpeg'>
            <h2 class='header'>Musica 1</h2>
            <p class='description' style="font-size:13px;">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 523,-</p>
            <div class='quickview'>Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px;">Agregar al Carrito</div>
        </div>
        <div class='product' category="artesvisuales">
            <img src='../img/event2.jpeg'>
            <h2 class='header'>Artes Visuales 1</h2>
            <p class='description' style="font-size:13px;">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 223,-</p>
            <div class='quickview'>Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px;">Agregar al Carrito</div>
        </div>
        <div class='product'category="infantiles">
            <img src='../img/event3.jpeg'>
            <h2 class='header'>Infantiles 1</h2>
            <p class='description' style="font-size:13px;" id="celulares">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 723,-</p>
            <div class='quickview'>Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div>
        </div>

        <hr>

        <!-- SEMANALES -->
        <h2 style="font-size: 2rem; font-family: sans-serif; color: black; ">SEMANALES</h2>
        <div class='product'category="teatro">
            <img src='../img/event4.jpeg'>
            <h2 class='header'>Teatro 2</h2>
            <p class='description' style="font-size:13px; ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 231,</p>
            <div class='quickview'>Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div>
        </div>
        <div class='product'category="musica">
            <img src='../img/event5.jpeg'>
            <h2 class='header'>Musica 2</h2>
            <p class='description' style="font-size:13px; ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 231,</p>
            <div class='quickview'>Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div>
        </div>
        <div class='product'category="artesvisuales">
            <img src='../img/event6.jpeg'>
            <h2 class='header'>Artes Visuales 2</h2>
            <p class='description' style="font-size:13px; ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 231,</p>
            <div class='quickview'>Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div>
        </div>
        <div class='product'category="infantiles">
            <img src='../img/event7.jpeg'>
            <h2 class='header'>Infantiles 2</h2>
            <p class='description' style="font-size:13px; " id="computadoras ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 231,</p>
            <div class='quickview'>Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div>
        </div>

        <hr>

        <!-- MENSUALES -->
        <h2 style="font-size: 2rem; font-family: sans-serif; color:black; ">MENSUALES</h2>
        <div class='product'category="teatro">
            <img src='../img/event8.jpeg'>
            <h2 class='header'>Teatro 3</h2>
            <p class='description' style="font-size:13px; ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 231,</p>
            <div class='quickview'>Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div>
        </div>
        <div class='product'category="musica">
            <img src='../img/event9.jpeg'>
            <h2 class='header'>Musica 3</h2>
            <p class='description' style="font-size:13px; ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 231,</p>
            <div class='quickview' >Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div>
        </div>
        <div class='product'category="artesvisuales">
            <img src='../img/event.jpeg'>
            <h2 class='header'>Artes Visuales 3</h2>
            <p class='description' style="font-size:13px; ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 231,</p>
            <div class='quickview' >Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div>
        </div>
        <div class='product'category="infantiles">
            <img src='../img/event1.jpeg'>
            <h2 class='header'>Infantiles 3</h2>
            <p class='description' style="font-size:13px; " id="deportes ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <p class='price'> 231,</p>
            <div class='quickview' >Info</div>
            <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div>
        </div>

        <hr>

        <!-- ESPACIOS CULTURALES -->
        <h2 style="font-size: 2rem; font-family: sans-serif; color:black ">ESPACIOS CULTURALES</h2>
        <div class='product'category="teatro">
            <img src='../img/event2.jpeg'>
            <h2 class='header'>Teatro 4</h2>
            <p class='description' style="font-size:13px; ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <!-- <p class='price' style="margin-top: 45px; "> 231,</p> -->
            <div class='quickview'>Info</div>
            <!-- <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div> -->
        </div>
        <div class='product'category="musica">
            <img src='../img/event3.jpeg'>
            <h2 class='header'>Musica 4</h2>
            <p class='description' style="font-size:13px; ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <!-- <p class='price' style="margin-top: 45px; "> 231,</p> -->
            <div class='quickview'>Info</div>
            <!-- <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div> -->
        </div>
        <div class='product'category="artesvisuales">
            <img src='../img/event4.jpeg'>
            <h2 class='header'>Artes visuales 4</h2>
            <p class='description' style="font-size:13px; ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <!-- <p class='price' style="margin-top: 45px; "> 231,</p> -->
            <div class='quickview'>Info</div>
            <!-- <div class='btn btn_comprar'>Comprar</div> -->
            <!-- <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div> -->
        </div>
        <div class='product'category="infantiles">
            <img src='../img/event5.jpeg'>
            <h2 class='header'>Infantiles 4</h2>
            <p class='description' style="font-size:13px; " id="electrodomesticos ">Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. </p>
            <!-- <p class='price' style="margin-top: 45px; "> 231,</p> -->
            <div class='quickview' >Info</div>
            <!-- <div class='btn btn_comprar'>Comprar</div>
            <div class='btn btn_agregar' style="left:10px; ">Agregar al Carrito</div> -->
        </div>

        <hr>



    </div>
    <div class='quickviewContainer'>
        <div class='close'></div>
        <h2 class='headline'></h2>
        <p class='description'></p>
        <!-- <img src='https://placeimg.com/100/100'>
        <img src='https://placeimg.com/100/100'>
        <img src='https://placeimg.com/100/100'>-->
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="../script.js "></script>

    <!-- FOOTER -->
    <footer>

    </footer>

    <script src="../js/jquery-3.4.1.min.js "></script>
    <script src="../js/botonera.js"></script>
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
    <script src="../js/init.js "></script>
    <script src="../js/carrito.js "></script>
    <script src="../js/search.js "></script>
</body>

</html>
</body>

</html>