<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ENTERarte - Todo lo que busques está aquí</title>

    <!--CARRITO-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <!--FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://wise.com/currency-converter-assets/fonts/TW-Averta-Regular.woff2" rel="stylesheet">


    <!--NAV-->
    <link rel="stylesheet" href="../css/nav.css">

    <!--CSS-->
    <link href="../css/style.css" rel="stylesheet">

    <!--FOOTER-->
    <link rel="stylesheet" href="../css/footer.css">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--JS del HEADER-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!--Terms Politic-->
    <link href="../css/terms.css" rel="stylesheet">

</head>

<body>
    <!-- HEADER -->
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
            </label>
            <label class="logo"><span style="font-weight: normal;">ENTER</span>arte</label>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="event.html">Eventos</a></li>
                <li><a href="post.html">Publicar</a></li>
                <li><a href="about.html">Quienes somos</a></li>
                <li><a href="login.html">Mi Cuenta</a></li>
                <ul class="navbar-right">
                    <!--PC-->
                    <li id="pc"><a href="cart.html" id="cart"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li>
                    <!--MOVIL-->
                    <!-- <li id="movil"><a href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li> -->
                    <!--</ul>-->
                </ul>
            </ul>
        </nav>

        <div class="conteiner">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">0</span>
                    <div class="shopping-cart-total">
                    </div>
                </div>

                <ul class="shopping-cart-items">
                </ul>

                <a href="pages/cart.html" class="button">Checkout</a>
            </div>
        </div>
    </header>
    <br><br>

    <!-- MAIN -->
    <main role="main">
        <!-- FOTO PRINCIPAL -->
        <section class="jumbotron text-center principal">
            <div class="m-5">
                <h1></h1>
            </div>
        </section>

        <h1 style="display: none;">ENTERarte</h1>

    </main>
    <section class="terms">

        <div>
            <p>
                <h2>Preguntas Frecuentes</h2>
                <br></br>
                <br></br>

                <p> <strong>¿Puedo hacer el curso sin tener experiencia y/o conocimientos previos?</strong> <br></br>
                    Sí. En Digital House puedes aprender desde cero. Según el curso al que te anotaste, vamos a enviarte contenido previo online o un curso de ingreso para que realices antes de que inicie tu cursada. Nuestros docentes están disponibles para que puedas realizar
                    consultas y así prepararte para empezar en perfectas condiciones. Nuestro objetivo es que cada estudiante empiece desde un nivel similar y pueda aprovechar al máximo todos los contenidos.</p>
                <br></br>

                <p> <strong>¿Las vacantes son limitadas?</strong><br></br>
                    Sí. Tienen una capacidad máxima de entre 50 y 75 personas, dependiendo el curso.</p>
                <br></br>

                <p><strong>¿Hay algún examen previo a entrar? ¿en qué consiste? ¿es obligatorio?</strong><br></br>
                    Hay ciertas nociones básicas que aprenderás en un curso de ingreso para que nosotros, a partir de ahí, compartamos y sumemos conocimientos. Para evaluar tu aprendizaje, tendrás un desafío al finalizar dicho curso. el cual deberás aprobar y así estar listo
                    para iniciar tus clases.
                </p>
                <br></br>

            </p>


        </div>





    </section>




    <!-- FOOTER -->
    <footer>
        <div class="container-footer-all">
            <div class="container-body">


                <div class="column1">
                    <h1> Mas informacion de la Compañia</h1>
                    <p> EnterARTE ofrece a sus usuarios un abanico infinito de opciones para que el visitante se lleve la mejor de las experiencias.

                    </p>
                </div>

                <div class="column2">
                    <h1> Redes Sociales</h1>
                    <div class="row">
                        <img src="../img/face.jpg">
                        <label> Facebook </label>
                    </div>
                    <div class="row">
                        <img src="../img/insta.jpg">
                        <label> Instagram </label>
                    </div>
                    <div class="row">
                        <img src="../img/twitter.jpg">
                        <label> Twitter </label>
                    </div>

                </div>


                <div class="column3">

                    <h1> Información Contactos</h1>
                    <div class="row2">
                        <img src="../img/casa.jpg">
                        <label> Contamos con los siguientes medios de comunicación:</label>
                    </div>

                    <div class="row2">
                        <img src="../img/whatsapp.jpg">
                        <label> Cel. 2494-454541 </label>
                    </div>

                    <div class="row2">
                        <img src="../img/correo.jpg">
                        <label> correo electronico: enterarte@hotmail.com </label>
                    </div>
                </div>
            </div>
            <div class="container-footer">
                <div class="copyright"> © 2022 EnterArte, Inc.</div>
            </div>


        </div>

    </footer>
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/init.js"></script>
    <script src="../js/carrito.js"></script>
    <script src="../js/search.js"></script>
</body>

</html>