<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cuenta</title>

    <!--CSS-->
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="../css/footer.css">


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.min.css'>
</head>

<body>
    <!--HEADER-->
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
                </label>
            <label class="logo"><span style="font-weight: normal;">ENTER</span>arte</label>
            <ul>
                <li><a href="../home.html">Inicio</a></li>
                <li><a href="event.html">Eventos</a></li>
                <li><a href="post.html">Publicar</a></li>
                <li><a href="about.html">Quienes somos</a></li>
                <li><a href="profileUser.html">Mi Cuenta</a></li>
                <li><a href="login.html">Login</a></li>
                <ul class="navbar-right">
                    <!--PC-->
                    <!-- <li id="pc"><a href="./cart.html" id="cart"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li> -->
                    <!--MOVIL-->
                    <li id="movil"><a href="./cart.html"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li>
                    <!--</ul>-->
                </ul>
                <li><a href="./login.html">Login</a></li>
            </ul>
        </nav>

        <!-- <div class="conteiner">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge"></span>
                    <div class="shopping-cart-total">
                    </div>
                </div>
            </div>
        </div> -->
    </header>
    <br> <br>
    <!--SECTION-->
    <section>
        <div class="contenedor">
            <h1 class="titleUser">Mi Usuario</h1>
            <div class="infoUser">
                <div class="user">
                    <img src="../img/user.png" alt="">
                    <p> Nombre</p>
                    <p> Apellido</p>
                    <p> Email</p>
                    <p> Fecha de Nacimiento</p>
                    <p> Usuario</p>
                    <button>Editar</button>
                </div>
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <footer>
        <div class="container-footer-all">
            <div class="container-body">


                <div class="column1">
                    <h1> Mas informacion de la Compañia</h1>
                    <p> EnterARTE ofrece a sus usuarios un abanico infinito de opciones para que el visitante se lleve la mejor de las experiencias.</p>
                    <a class="link-footer" href="./terms.html">Términos y condiciones</a><br><br>
                    <a class="link-footer" href="./politic.html">Política y privacidad</a><br><br>
                    <a class="link-footer" href="./faq.html">Preguntas frecuentes</a><br>
                </div>

                <div class="column2">
                    <H1> Redes Sociales</H1>
                    <div class="row">
                        <a class="link-footer" href="#"><img src="../img/face.jpg">
                        </a>

                    </div>
                    <div class="row">
                        <a class="link-footer" href="#"><img src="../img/insta.jpg">
                        </a>
                    </div>
                    <div class="row">
                        <a class="link-footer" href="#"><img src="../img/twitter.jpg">
                        </a>

                    </div>

                </div>


                <div class="column3">

                    <h1>Contactanos</h1>
                    <div class="row2">
                        <img src="../img/casa.jpg">
                    </div>

                    <div class="row2">
                        <a class="link-footer" href="#"><img src="../img/whatsapp.jpg">
                        </a>
                    </div>

                    <div class="row2">
                        <a class="link-footer" href="#"> <img src="../img/correo.jpg">
                        </a>
                    </div>
                </div>

            </div>
            <div class="container-footer">
                <div class="copyright"> © 2022 EnterArte, Inc.</div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>