<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ENTERarte - Todo lo que busques está aquí</title>

    <!--CARRITO-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <!--FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://wise.com/currency-converter-assets/fonts/TW-Averta-Regular.woff2" rel="stylesheet">


    <!--NAV-->
    <link rel="stylesheet" href="../css/nav.css">

    <!--CSS-->
    <link href="../css/style.css" rel="stylesheet">

    <!--FOOTER-->
    <link rel="stylesheet" href="../css/footer.css">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--JS del HEADER-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!--Terms Politic-->
    <link href="../css/terms.css" rel="stylesheet">

</head>

<body>
    <!-- HEADER -->
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
            </label>
            <label class="logo"><span style="font-weight: normal;">ENTER</span>arte</label>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="event.html">Eventos</a></li>
                <li><a href="post.html">Publicar</a></li>
                <li><a href="about.html">Quienes somos</a></li>
                <li><a href="login.html">Mi Cuenta</a></li>
                <ul class="navbar-right">
                    <!--PC-->
                    <li id="pc"><a href="cart.html" id="cart"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li>
                    <!--MOVIL-->
                    <!-- <li id="movil"><a href="cart.html"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li> -->
                    <!--</ul>-->
                </ul>
            </ul>
        </nav>

        <div class="conteiner">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">0</span>
                    <div class="shopping-cart-total">
                    </div>
                </div>

                <ul class="shopping-cart-items">
                </ul>

                <a href="pages/cart.html" class="button">Checkout</a>
            </div>
        </div>
    </header>
    <br><br>

    <!-- MAIN -->
    <main role="main">
        <!-- FOTO PRINCIPAL -->
        <section class="jumbotron text-center principal">
            <div class="m-5">
                <h1></h1>
            </div>
        </section>

        <h1 style="display: none;">ENTERarte</h1>

    </main>

    <section class="terms">
        <div>
            <h2>TÉRMINOS Y CONDICIONES</h2>
            <br><br>


            <p>
                ANTES DE NAVEGAR Y/O UTILIZAR EL SITIO Y/O EL SERVICIO, POR FAVOR LEA ATENTAMENTE LOS PRESENTES TÉRMINOS Y CONDICIONES. SI EL USUARIO NO ESTÁ DE ACUERDO CON LOS PRESENTES TÉRMINOS Y CONDICIONES, DEBE ABSTENERSE DE UTILIZAR EL SITIO Y/O EL SERVICIO.
                <br><br>
                <strong>CONDICIONES GENERALES</strong> 1.1. Los presentes términos y condiciones de utilización del servicio (en adelante, los “Términos y Condiciones”) regulan la relación contractual entre DIGITAL HOUSE S.A., sociedad comercial constituida
                y existente de conformidad con las leyes de la República Argentina, CUIT 30-71504342-0, con domicilio constituido en Monroe 860, Ciudad Autónoma de Buenos Aires, República Argentina y/o cualquiera de sus entidades vinculadas o afiliadas
                (en adelante, “DIGITAL HOUSE”) y las personas que hagan uso del sitio institucional de DIGITAL HOUSE accesible a través de www.digitalhouse.com/ar y/o cualquier otra URL de propiedad de DIGITAL HOUSE (en adelante, el “Sitio”), (en adelante,
                indistintamente los “Usuarios” o el “Usuario” y en conjunto con DIGITAL HOUSE, las “Partes”). Los Usuarios se encontrarán sujetos a los Términos y Condiciones , junto con todas las demás políticas y principios que rigen DIGITAL HOUSE y
                que son incorporados al presente por referencia. 1.2. Mediante el ingreso y utilización del Sitio o el uso del Servicio, según dicho término se define más adelante, provisto por DIGITAL HOUSE, el Usuario declara haber leído y aceptado
                en su integridad estos Términos y Condiciones. 1.3. TODO AQUEL QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES, LOS CUALES SON OBLIGATORIOS Y VINCULANTES, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O CUALQUIERA DE LOS SERVICIOS PROVISTOS POR
                DIGITAL HOUSE. 1.4. Los Usuarios afirman ser plenamente capaces y competentes para aceptar y cumplir los Términos y Condiciones, y para celebrar acuerdos jurídicamente vinculantes conforme a las leyes vigentes. 1.5. Los presentes Términos
                y Condiciones podrán ser modificados y/o actualizados a exclusivo criterio de DIGITAL HOUSE. Dichas modificaciones entrarán en vigencia desde su publicación en el Sitio. 1.6. Los Términos y Condiciones prevalecerán sobre cualquier otro
                acuerdo, política, términos y condiciones referidos a los asuntos aquí contenidos, con excepción de aquellas cuestiones previstas en el Reglamento, según dicho término se define más adelante, las que serán regidas por lo allí dispuesto.
                1.7. Se aclara expresamente que cualquier instrucción o aviso adicional que sea incorporado en el Sitio será considerado como parte integral de estos Términos y Condiciones, teniendo en consecuencia carácter obligatorio y vinculante. 1.8.
                DIGITAL HOUSE provee el Sitio con el fin de ofrecer al Usuario información relacionada con las capacitaciones de educación informal, que no implican una certificación oficial, académica o profesional, que DIGITAL HOUSE provee para fomentar
                el talento humano bajo una metodología innovadora basada en la práctica a través de determinados programas y/o cursos, incluyendo pero sin limitarse a Programación Web Full Stack, Data Science, Data Analytics y Certified Tech Developer,
                entre otros (en adelante, el “Servicio”).

                <br><br>

                <strong>2. RECOLECCIÓN Y TRATAMIENTO DE DATOS PERSONALES</strong> Los detalles del procedimiento de recolección y tratamiento de datos personales de los Usuarios por parte de DIGITAL HOUSE se establecen en la Política de Privacidad que
                figura en el Sitio y que aquéllos deberán aceptar al momento de contratar el Servicio.
                <br><br>
                <strong>3. MENORES DE EDAD</strong> Si bien el Sitio y/o Servicio no están dirigidos a menores de edad, en caso en que algún menor tenga acceso a los mismos, su uso deberá ser supervisado por los padres, madres, tutores o responsables
                legales. El Sitio y/o Servicio están permitidos sólo para quienes tengan edad legal para contratar y no se encuentren inhibidos legalmente o de algún modo vedados de realizar actos jurídicos, adquirir derechos y contraer obligaciones.
                Habida cuenta de ello, los menores de 18 años no tienen permitido el ingreso al Sitio y/o Servicio, así como tampoco suministrar ningún dato Personal, ni ningún otro tipo de información.
                <br><br>
                <strong>4. LÍNEA ETICA/ LÍNEA DE DENUNCIAS</strong> 4.1. DIGITAL HOUSE ofrece al Usuario canales de comunicación para dar a conocer en forma anónima, confidencial y segura la existencia de irregularidades éticas por parte de cualquier
                integrante perteneciente a DIGITAL HOUSE (en adelante, los “Canales de Comunicación”). DIGITAL HOUSE realiza todas las medidas necesarias con el fin de que dichas irregularidades no ocurran, y en razón de ello pone a disposición los Canales
                de Comunicación que se detallan más adelante para que el Usuario colabore con dicho fin. Para mayor detalle, destacamos a continuación algunos ejemplos de irregularidades de forma enunciativa, con el fin de que el Usuario se mantenga informado:
                fraudes económico-financieros; entrega de información confidencial de la compañía, conflicto de intereses; descuido o utilización inapropiada de los bienes de la organización; uso inapropiado de nombre, logo y marcas de la empresa; acoso
                laboral o malos tratos. En el supuesto en que el Usuario contemple una irregularidad de las mencionadas, no debe dudar en reportarla. Su reporte será tratado en forma rápida, confidencial y profesional. 4.2. El servicio detallado en el
                párrafo anterior será brindado por un tercero a los fines de obtener la mayor precisión y objetividad posible. Ello significa que quien tratará los datos personales y/o información brindada por el Usuario una vez que realice una denuncia
                a través de los Canales de Comunicación, serán dichos terceros por cuenta y orden de DIGITAL HOUSE. El Usuario entiende y acepta que para los fines de utilizar los Canales de Comunicación, quienes tratarán los datos serán dichos terceros,
                solo a los efectos de realizar las denuncias y promover un clima ético y de compliance. DIGITAL HOUSE tratará la presente información denunciada y la remitirá a un Comité interno, el cual analizará las implicancias de la información y
                las medidas a tomar. 4.3. En razón de lo expuesto, DIGITAL HOUSE pone a disposición de los Usuarios los siguientes Canales de Comunicación: Web Site: www.resguarda.com/digitalhouse E-mail: denuncias.digitalhouse@resguarda.com
                <br><br>
                <strong>5. REGLAMENTO PARA ALUMNOS</strong> Adicionalmente a la aceptación de los Términos y Condiciones y la Política de Privacidad como condición para realizar el Servicio, los Usuarios deberán aceptar el reglamento para los alumnos
                según el tipo de curso/programa que realicen (en adelante, el “Reglamento”). El Reglamento contiene, entre otros aspectos, detalles sobre las condiciones de cursada, criterios de aprobación, metodología de pagos, bajas y reembolsos.

                <br><br>

                <strong>6. CONTACTO</strong> Si el Usuario tuviere alguna duda acerca de estos Términos y Condiciones o sobre su aplicación deberá ponerse en contacto con DIGITAL HOUSE, en cualquier momento, vía correo electrónico a contacto@digitalhouse.com

                <br><br>

                <strong>7. LEGISLACIÓN Y JURISDICCIÓN APLICABLE</strong> 7.1. Estos Términos y Condiciones se regirán por las leyes vigentes de la República Argentina. 7.2. Cualquier conflicto o controversia entre las Partes derivado de la existencia,
                validez, contenido, interpretación, alcance o cualquier otro aspecto relacionado con los Términos y Condiciones será dirimido ante los jueces de la República Argentina.

                <strong>La fecha de estos Términos y Condiciones es octubre de 2022.</strong>

            </p>
        </div>

    </section>
    <!-- FOOTER -->
    <footer>
        <div class="container-footer-all">
            <div class="container-body">


                <div class="column1">
                    <h1> Mas informacion de la Compañia</h1>
                    <p> EnterARTE ofrece a sus usuarios un abanico infinito de opciones para que el visitante se lleve la mejor de las experiencias.

                    </p>
                </div>

                <div class="column2">
                    <h1> Redes Sociales</h1>
                    <div class="row">
                        <img src="../img/face.jpg">
                        <label> Facebook </label>
                    </div>
                    <div class="row">
                        <img src="../img/insta.jpg">
                        <label> Instagram </label>
                    </div>
                    <div class="row">
                        <img src="../img/twitter.jpg">
                        <label> Twitter </label>
                    </div>

                </div>


                <div class="column3">

                    <h1> Información Contactos</h1>
                    <div class="row2">
                        <img src="../img/casa.jpg">
                        <label> Contamos con los siguientes medios de comunicación:</label>
                    </div>

                    <div class="row2">
                        <img src="../img/whatsapp.jpg">
                        <label> Cel. 2494-454541 </label>
                    </div>

                    <div class="row2">
                        <img src="../img/correo.jpg">
                        <label> correo electronico: enterarte@hotmail.com </label>
                    </div>
                </div>
            </div>
            <div class="container-footer">
                <div class="copyright"> © 2022 EnterArte, Inc.</div>
            </div>


        </div>

    </footer>
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/init.js"></script>
    <script src="../js/carrito.js"></script>
    <script src="../js/search.js"></script>
</body>

</html>