*{
    margin: 0;
    padding: 0;
}

.contenedor{
    background-color: rgb(147, 218, 17);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: -2px 0px 10px 5px rgb(172, 169, 7); /*efectos de sombra alrededor del marco de un elemento*/
    animation: contenedor 1.4s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;

}

.contenedorCookies{
    padding: 30px 0px;
    max-width: 90%;
    display: flex;
    align-items: center;
    
    

}

.parrafo{
    color: rgb(19, 18, 18);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    
    
}

.botones{
    display: flex;
    flex-direction:column;
    margin-left: 10px;
    
    

    
}


/*hover se utiliza para seleccionar y dar estilo al pasar con el ratón por encima de un elemento*/
.botones button:hover{
    color: rgb(14, 14, 13);
    border: 2px solid rgb(14, 14, 13);

}


.botones button:last-child{
    margin-top: 5px;
    
}

.botones button{
    background: transparent;
    border: 2px solid;
    padding: 3px 5px;
    border-radius: 30px;
    border-color: rgb(247, 247, 241);
    color: rgb(247, 247, 241);
    font-size: 14px;
    
}

@keyframes contenedor{
    100% {
        visibility: visible;
        opacity: 1;
    }
}