*{
    margin: 0;
    padding: 0;
    
}

.seccion{
    background-color: transparent;
    width: 100%;
    
}


.contenedorGral{
    max-width: 70%;
    background-color:#e89a80;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 1rem;
    
}

.contenedorPoliticas{
    max-width: 100%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
    
    
    
}

.contenedorGral h1{
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.contenedorGral h2{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    
}

.contenedorGral p {
    margin-top: 10px;
    text-align: justify;
    line-height:1.7;
    font-size: 18px;
}

.contenedorGral ul li{
    text-align: justify;
    margin-left: 1em;
    margin-bottom: 5px;  
    
}

.estiloNavegadores{
    font-size: 18px;
}

.estiloCookies{
    text-decoration:underline;
    
}
