* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.bodyCartInfo {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.sectionInfo {
    margin-right: -40%;
    margin-left: -40%;
    padding-top: 11vh;
    padding-bottom: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgInfo img {
    height: auto;
    width: auto;
    margin-left: 50px;
    border-radius: 15px;
}

.listInfo {
    margin-left: 5%;
    max-width: 500px;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 143, 149, 0.6110819327731092) 0%);
}

.listInfo ul li {
    color: white;
    margin-bottom: 1vh;
    padding: 5px;
    border-bottom: 1px solid #E24E42;
}

@media (max-width: 960px) {
    .sectionInfo {
        flex-direction: column;
        padding-bottom: 20vh;
    }
}

@media (max-width: 599px) {
    .sectionInfo {
        flex-direction: column;
    }
    .imgInfo img {
        height: auto;
        width: 75%;
        margin-left: 50px;
        border-radius: 15px;
    }
}