* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/*Colores
#E24E42 Papaya
#E9B000 Mustard
#EB6E80 Blush
#008F95 aqua
*/

nav a {
    display: inline-block;
    margin-top: -5px;
    transition: all 300ms;
}

nav a:hover {
    color: #008F95;
    transform: scale(1.1, 1.1);
    text-decoration: none;
}

nav {
    /* background: black(230, 153, 176, 0.5); */
    background: rgb(226, 78, 66);
    background: linear-gradient(201deg, rgba(226, 78, 66, 0.8295693277310925) 7%, rgba(0, 0, 0, 0.8155637254901961) 30%, rgba(8, 3, 2, 1) 81%);
    height: 80px;
    width: 100%;
    /*position: fixed;*/
    z-index: 99;
}

label.logo {
    color: #008F95;
    font-size: 30px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    font-family: 'Poppins', serif !important;
}

nav ul {
    float: right;
    margin-right: 10px;
}

nav ul:last-child {
    margin-right: 5px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a.active,
a:hover {
    /*background: rgb(241, 210, 33);*/
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#navbar-img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    height: 80%;
    margin-bottom: 5px;
    margin-top: 15px;
}

@media (max-width: 952px) {
    label .logo {
        font-size: 30px;
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 14px;
    }
}

@media (max-width: 1139px
/*933px*/

) {
    .checkbtn {
        display: block;
        /* nuevo codigo css  */
        width: 70px;
        margin-top: 0px;
        height: 59px;
        color: black;
        background-color: transparent;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1c1d1f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 999;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #FC8E0A;
    }
    #check:checked~ul {
        left: 0;
    }
}

@media(max-width: 1063px) {
    nav ul li a {
        font-size: 20px;
        /* margin-right: 25%; */
    }
}