
/*
#E24E42 Papaya (Naranja)
#E9B000 Mustard (Amarillo)
#EB6E80 Blush (Rosa)
#008F95 aqua (Turquesa)
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  .calendar {
    
    
    width: auto;
    height: auto;
    max-width: min-content;
    margin: 1em auto;
    padding: .5em 0; 
    border-radius: 3%;
    font-weight: bold;
}


    .calendar__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
     
      
      font-size: 1.2em;
      text-transform: uppercase; }

    .calendar__prev, .calendar__next {
      color: #E9B000;
      cursor: pointer;
      font-size: 1.3em; }

    .calendar__prev {
      margin-right: auto; }

    .calendar__next {
      margin-left: auto; }

    .calendar__week, .calendar__dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 10px; 
      -webkit-box-align:end; 
      text-align: center;
    }

    .calendar__month, .calendar__year {
      padding: .5em .5em; }

    .calendar__item {
      text-align: center;
      line-height: 2; 
      
    }

    .calendar__today {
      background: blue;
      color: black;
      width: 50%;
      border-radius: 50%;
      margin: auto; }

    .calendar__last-days {
      opacity: .3;
      text-align: center;
      line-height: 2;
      
      
    
    }

      a:link {
        color: black;

      }

      a:visited {
        color: black;


      }

      a:hover {

        color: blue;

      }




      