@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);


/*body {
  background-color: #0b0b0b;
  font-family: 'Nunito', sans-serif;
  
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}*/


nav {
    
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-family: sans-serif;
}

nav .mini {
    position: fixed;
    top: 80px;
    right: 60px;
    background: white;
    border: 1px solid #6c757d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 40px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease .2s;
    transition: opacity .2s ease .2s;
}

nav .mini.visible {
    padding: 40px;
    opacity: 1;
    visibility: visible;
}

nav .mini .products {
    font-weight: bold;
    font-size: 15px;
}

nav .mini p {
    font-size: 15px;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

nav .cart {
    position: relative;
    float: right;
    margin-right: 50px;
    height: 20px;
    line-height: 70px;
    font-size: 28px;
    height: 100%;
    cursor: pointer;
}

nav .cart span {
    height: 100%;
    float: left;
    margin-right: 20px;
    opacity: 1;
    color: #fff;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

nav .cart span.updateQuantity:before,
nav .cart span.updateQuantity:after {
    top: 0;
    bottom: 0;
    opacity: 1;
    width: 30px;
    -webkit-transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
    transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
}

nav .cart span.update {
    -webkit-transition: color .2s ease .6s;
    transition: color .2s ease .6s;
    color: #000;
}

nav .cart span.update:before {
    top: -30px;
    width: 30px;
    opacity: 1;
    -webkit-transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
    transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
}

nav .cart span.update:after {
    top: 30px;
    width: 30px;
    opacity: 1;
    -webkit-transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
    transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
}

nav .cart span:before,
nav .cart span:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #0b0b0b;
    left: -10px;
    right: 40px;
    top: 2px;
    bottom: 0;
    margin: auto;
}

nav ul {
    float: left;
}

nav ul li {
    font-weight: bold;
    display: inline-block;
    margin-left: 50px;
    color: #0b0b0b;
    font-size: 12px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 100;
}


.buscador{
    height: 30px;
    margin-top: 55px;
}

.btn-search{
    height: 30px;
}
.cont_botonera{
 flex-direction: column;
 align-content: center;

}
.botonera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
       
}

.botonsolo{
    margin-top:4%;
    margin-left: 12%;
    margin-right: 12%;
    
}
.botontodos{ 
    height: 10vh;
    width: 85%;
    margin-right: 8%;
    margin-left: 8%; 
    border-radius: 10px;
    font-size: 6vh;
    background-color: white;
    color: #008F95 ;
    border-color: #008F95;
}

.boton{
    margin-top: 15%;
    height: 10vh;
    width: auto;
    padding-left: 4vh;
    padding-right: 4vh;
    border-radius: 10px;
    font-size: 6vh;
    background-color: white;
}
.boton.teatro {
    color: black;
    border-color: black ;
}

.boton.musica {
    color:#E9B000;
    border-color: #E9B000;
}

.boton.arte {
    color: #EB6E80;
    border-color: #EB6E80;
}
.boton.infantiles{
    color:#E24E42;
    border-color: #E24E42;
}

.boton.teatro:hover{
    background-color: black;
    color: white;
}
.boton.musica:hover{
    background-color: #E9B000;
    color: white;
}
.boton.arte:hover{
    background-color: #EB6E80;
    color: white;
}
.botontodos:hover{
    background-color: #008F95 ;
    color:white;
}
.boton.infantiles:hover{
    background-color: #E24E42;
    color:white;
}


.containerCarrito {
    background-color:white;
    border-radius: 15px;
    font-family: sans-serif;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    text-align: center;
}

.prox-evento {
    color: white;
    text-align: center;
    margin-top: 5%;
}
.containerCarrito .product {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 340px;
    display: inline-block;
    border-radius: 15px;
    background-color:white;
    border: 1px solid white;
    margin: 20px;
    padding: 15px;
    cursor: default;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transition: all 400ms ease;
}

.containerCarrito .product img {
    position: relative;
  top: -15px;
  left: -15px;
    width: 100%;
    height: 150px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.containerCarrito .product:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
   
    
}

.containerCarrito .product h2 {
    text-align: left;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 4px;
}

.containerCarrito .product .description {
    text-align: left;
    font-size: 15px;
    color: #333;
    max-height: 23px;
}

.containerCarrito .product .price {
    text-align: right;
    font-size: 18px;
    color:#000;
    margin-top: 40px;
    text-align: left;
    font-weight: 600;
}

.containerCarrito .product .btn {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    float: right;
    padding: 7px;
    border: 2px solid #008F95;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    color: #008F95;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    font-family: sans-serif;
}

.containerCarrito .product .btn.ok {
    background-color: #008F95;
    color: white;
    transition: all 300ms;
    font-family: 'simple-line-icons';
}

.containerCarrito .product .btn.ok:after {
    content: "\e080";
    color: white;
    font-family: 'simple-line-icons';
    font-family: sans-serif;
}

.containerCarrito .product .btn:hover {
    padding-right: 25px;
}

.containerCarrito .product .btn:hover:after {
    margin-left: 5px;
    font-family: 'simple-line-icons';
}

.containerCarrito .product .btn:after {
    font-family: 'simple-line-icons';
    content: "\e095";
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    position: absolute;
    color: #008F95;
    font-family: 'simple-line-icons';
    margin-left: 30px;
    transition: all .2s ease;
}

.containerCarrito .product .btn_comprar {
    right: 10;
    background-color: #008F95;
    color: white;
    transition: all 500ms;
}

.containerCarrito .product .btn_comprar:hover {
    padding-right: 7px;
    background-color:#EB6E80;
    border: 2px #008F95;
}

.containerCarrito .product .btn_comprar:after {
    content: none
}

.containerCarrito .product .quickview {
    position: absolute;
    bottom: 20px;
    color: #008F95;
    cursor: pointer;
    top: 360px;
    bottom: 10px;
    right: 10px;
    float: right;
}

.containerCarrito .product .quickview:before {
    /*font-family: 'simple-line-icons';*/
    content: "\e05d";
    margin-right: 3px;
    font-family: sans-serif;
    font-family: 'simple-line-icons';
}

.quickviewContainer {
    position: fixed;
    height: 100vh;
    width: 400px;
    background: rgba(0, 0, 0, 0.9);
    top: 70px;
    right: -100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding: 30px;
    color: #fff;
}

.quickviewContainer .close {
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
}

.quickviewContainer .close:before,
.quickviewContainer .close:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffF;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.quickviewContainer .close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.quickviewContainer .headline {
    margin-bottom: 30px;
    font-size: 18px;
}

.quickviewContainer .description {
    font-size: 18px;
    margin-bottom: 20px;
}

.quickviewContainer img {
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
}

.quickviewContainer.active {
    right: 0;
}

nav .cart {
    line-height: 77px;
}

.quickviewContainer .description {
    margin-top: 200px;
}

.containerCarrito>h2 {
    margin-bottom: 37px;
    margin-top: 25px;
}

.btn_agregar {
    width: 150px;
}
@media (max-width:1142px) {
    .boton {
     margin-top: 15%;
     height: 10vh;
     width: auto;
     padding-left: 4vh;
     padding-right: 4vh;
     border-radius: 10px;
     font-size: 5vh;
     background-color: white;
 }
 }
@media (max-width:1299px) {
    .containerCarrito>h2 {
        margin-top: 97px;
    }
}

@media (max-width:991px) {
    nav .cart {
        line-height: 14px;
        margin: 0;
    }
}

@media (max-width:624px) {
    .containerCarrito .product {
        width: 415px;
        height: 523px;
    }
    .containerCarrito .product img {
        width: 100%;
        height: 305px;
    }
    .containerCarrito .product .btn {
        width: 173px;
        margin-bottom: .8rem;
    }
    .containerCarrito .product .btn_comprar {
        width: 211px;
    }
}

@media (max-width:495px) {
    .containerCarrito .product {
        width: 90%;
        height: 505px;
    }
    .containerCarrito .product img {
        height: 285px;
    }
    .containerCarrito .product .btn_comprar {
        width: 157px;
    }
    .containerCarrito .product .price {
        margin-top: 37px;
    }
}

@media (max-width:435px) {
    .containerCarrito .product .btn {
        width: 51%;
    }
    .containerCarrito .product .btn_comprar {
        width: 40%;
    }
}

@media (max-width:443px) {
    .containerCarrito .product img {
        height: 254px;
    }
    
}

@media (max-width:391px) {
    .containerCarrito .product img {
        height: 219px;
    }
    .containerCarrito .product {
        height: 446px;
    }
}


@media (max-width:599px) {
.botonera {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    flex-direction: column;
}
.botonsolo {
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    align-items: center;
}


.botontodos{ 
    height: 10vh;
    width: 50vw;
    margin-right: 8%;
    margin-left: 8%; 
    border-radius: 10px;
    font-size: 6vw;
    background-color: white;
    color: #008F95 ;
    border-color: #008F95;
}

.boton {
    margin-top: 15%;
    height: 10vh;
    width: 50vw;
    padding-left: 4vh;
    padding-right: 4vh;
    border-radius: 10px;
    font-size: 6vw;
    background-color: white;
}

.botonsolo {
     display: flex; 
     justify-content: space-between; 
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
}


