/*------------------------------------FOOTER-----------------------------------------------------*/


/* * {
    margin: 0px;
    margin-right: 20px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%
} */

footer {
    width: 100%;
    background-color: black;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.column1 {
    max-width: 400px;
}

.column1 h1 {
    font-size: 22px;
}

.column1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.column2 {
    max-width: 400px;
}

.column2 h1 {
    font-size: 22px;
}

.column2 .row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.column3 {
    max-width: 400px;
}

.column3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.container-footer img {
    width: 36px;
    height: 36px;
}

.container-footer {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}