/*------------------------------------FOOTER-----------------------------------------------------*/


/*Colores
#E24E42 Papaya
#E9B000 Mustard
#EB6E80 Blush
#008F95 aqua
*/

footer {
    width: 100%;
    background: rgb(226, 78, 66);
    background: linear-gradient(162deg, rgba(226, 78, 66, 0.8883928571428571) 0%, rgba(0, 0, 0, 0.9668242296918768) 15%, rgba(8, 3, 2, 1) 38%);
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.container-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    align-content: center;
}

.column1 {
    max-width: 400px;
    margin-top: 3%;
}

.column1 h1 {
    font-size: 22px;
}

.column1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.column2 {
    max-width: 400px;
    margin-top: 3%;
}

.column2 h1 {
    font-size: 22px;
}

.column2 .row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.column3 {
    max-width: 400px;
    margin-top: 3%;
}

.column3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.container-footer img {
    width: 36px;
    height: 36px;
}

.container-footer {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
    text-align: center;
}

.link-footer {
    color: #008F95;
}