* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


.bodyPost {
    background-image: url(../img/fondo.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.sectionPost {
    padding-top: 12vh;

}

.formularioEvent {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 580px;
    left: 10px;
    margin: auto;
    margin-bottom: 10vh;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.formularioEvent form {
    width: 100%;
    padding: 80px 20px;
    background: rgb(0, 0, 0);
    border-radius: 20px;
}

.formularioEvent form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #EB6E80;
}

.formularioEvent form input,
.formularioEvent form textarea {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.formularioEvent form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #EB6E80;
    color: white;
    cursor: pointer;
    outline: none;
}

.formularioEvent form button:hover {
    background: #008F95;
    color: white;
    cursor: pointer;
    outline: none;
}