
/*Colores
#E24E42 Papaya
#E9B000 Mustard
#EB6E80 Blush
#008F95 aqua
*/

/*----------------------- Terms -----------------------*/

body{
    background-image: url(../img/login.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.record{     
    width: 60%;
    background-color: none;
    margin: 50px auto;
    padding-bottom: 50px;   
}

.terms h2 {

    text-align: center; 
    padding-top: 5vh;
    color:#022323;
}

table{

    width: 100%;
    background-color: white;
    text-align: left;
    border: colapse;
    border-radius: 15px;
}

th, td{
    padding: 20px;
}


th:first-child{
    border-top-left-radius: 15px;
}

th:last-child{
    border-top-right-radius: 15px;
}

thead{
    background-color: #008F95;
    color: white;
    border-bottom: solid 5px #333333;
}


tr:nth-child(even){
    background-color: #008F95;
}

tr:hover td{
    background-color: #EB6E80;
    color: white;
}
