/*Colores
#E24E42 Papaya (Naranja)
#E9B000 Mustard (Amarillo)
#EB6E80 Blush (Rosa)
#008F95 aqua (Turquesa)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.section {
    background-color: black;
    box-shadow: inset;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 15vh;
    margin-top: 10vh;      
}

.bodyIndex{
    background-image: url(../img/fondoAbout.jpeg);
    padding-top: 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

section h2 {
    text-align: center;
}


/*Titulo del carrusel*/

.prox-eventos {
    text-align: center;
    margin-top: 3vh;
    color: whitesmoke;
}

#carouselExampleCaptions {
    margin-top: 25px;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExampleCaptions img {
    max-width: 100vh;
    max-height: 75vh;
}

#colorFondo {
    margin-top: 5vh;
    border-radius: 15px;
    margin-bottom: 5vh;
    /*background-color:transparent;*/
    background-image: url(../img/fondoAbout.jpeg);
    opacity: 90%;
    /**/
}

.banner {
    margin-top: 3vh;
}

.btn-search {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
}

.buscador {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.calendariotitulo {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

.calendario-cont {
    width: auto;
    height: auto;
}

.calendario {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

#tituloCarousel {
    margin-top: 15px;
    text-align: center;
    margin-left: 22vh;
    margin-right: 22vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/*-----------------------------------------------------------------------------------------*/

.divbootstrap {
    display: flexbox;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: auto;
    background-color: transparent;
    text-align: center;
    margin-top: 5vh;
    padding-bottom: 5vh;
    opacity: 90%;
}

.card {
    height: 30vh;
    margin-bottom: 1vh;
    border-radius: 10px;
}

.cardUno {
    background-color: white;
    height: 30vh;
    border-radius: 10px;
}

.divbootstrap div {
    width: 30vh;
    height: auto;
    font-size: 10px;
}

.divbootstrap div a {
    height: auto;
    font-size: 10px;
    text-align: center;
    border-radius: 30px;
}

.divbootstrap div h5 {
    font-size: 12px;
}

.divbootstrap div img {
    height: 15vh;
    width: 30vh;
}

.divbootstrap h4,
.calendariotitulo {
    font-size: 20px;
}


/*#carouselExampleCaptions {

    display: flex;
    width: 90vh;
    height: 55vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#carouselExampleCaptions p{
    font-size: xx-large;
    background-color: black;
    color: whitesmoke;
}

.section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20rem;
    background-color:orange;
}

#carouselExampleCaptions img {
    max-width: 90vh;
    max-height: 55vh;
}

.prox-eventos {
    text-align: center;
}

.calendario-cont {
    margin-top:15px;
    width: 37vh;
    height: 45vh;
}

.calendario {
    text-align: center;
}


/*-----------------------------------------------------------------------------------------*/

.publigeneral {
    text-align: center;
    width: 50vh;
    margin: 6px;
}

.publigeneral div {
    height: 40vh;
}

#Titulo_Anuncio {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.ayuda div {
    width: 30vh;
    height: 10vh;
    font-size: 10px;
}

.ayuda div a {
    width: 3vh;
    font-size: 10px;
}

.ayuda div h5 {
    font-size: 10px;
}

.ayuda div img {
    height: 15vh;
    width: 30vh;
}