/*Colores
#E24E42 Papaya (Naranja)
#E9B000 Mustard (Amarillo)
#EB6E80 Blush (Rosa)
#008F95 aqua (Turquesa)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Averta', sans-serif;
}

.section {
    background-color:black;
    box-shadow: inset;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 15vh;
    margin-top: 10vh;
    
    
}

body{
    background-image: url(../img/fondoAbout.jpeg);
    padding-top: 0vh;
    
}

section h2 {
   
    text-align: center;    
}

/*Titulo del carrusel*/
.prox-eventos {
    text-align: center;
    margin-top: 3vh;
    color: whitesmoke;
}

#carouselExampleCaptions {
    margin-top: 25px;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExampleCaptions img {
    max-width: 100vh;
    max-height: 75vh;
    
}

#colorFondo {
    margin-top: 5vh;
    border-radius: 15px;
    margin-bottom: 5vh;
    /*background-color:transparent;*/
    background-image: url(../img/fondoAbout.jpeg);
    opacity: 90%;
    
    

    /**/
}


.banner {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    
}
.btn-search{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:transparent;
    
}
.buscador{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.calendariotitulo {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

.calendario-cont {
    width: auto;
    height: auto;
    
}

.calendario {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    
       
    
}

.calen{
    width: 30vh;
    height:30vh; 
}

#tituloCarousel {
    margin-top: 15px;
    text-align: center;
    margin-left: 22vh;
    margin-right: 22vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/*-----------------------------------------------------------------------------------------*/


/*GeR y DaviD*/

.divbootstrap {
    display: flexbox;
    justify-content:space-between;
    border-radius: 10px;
    padding-top: auto;
    background-color:transparent;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
    opacity: 90%;

    
}

.cardUno {
    height: 30vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    background-color: white;
   
}

.cardDos{
    background-color: white;
    height: 30vh;
    border-radius: 10px;
    
}

.divbootstrap div {
    width: 30vh;
    height: auto;
    font-size: 10px;
    

}

.divbootstrap div a {
    height: auto;
    font-size: 10px ;
    text-align: center;
    border-radius: 30px;
    
}

.divbootstrap div h5 {
    font-size: 12px;
}

.divbootstrap div img {
    height: 15vh;
    width: 30vh;
}



.divbootstrap h4,
.calendariotitulo {
    font-size: 20px;
    
}


/*#carouselExampleCaptions {

    display: flex;
    width: 90vh;
    height: 55vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#carouselExampleCaptions p{
    font-size: xx-large;
    background-color: black;
    color: whitesmoke;
}

.section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20rem;
    background-color:orange;
}

#carouselExampleCaptions img {
    max-width: 90vh;
    max-height: 55vh;
}

.prox-eventos {
    text-align: center;
}

.calendario-cont {
    margin-top:15px;
    width: 37vh;
    height: 45vh;
}

.calendario {
    text-align: center;
}


/*-----------------------------------------------------------------------------------------*/


/*GeR y DaviD*/

.publigeneral {
    text-align: center;
    width: 50vh;
    margin: 6px;
    
}

.publigeneral div {
    height: 40vh;
}

#Titulo_Anuncio {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}



.ayuda div {
    width: 30vh;
    height: 10vh;
    font-size: 10px;
}

.ayuda div a {
    width: 3vh;
    font-size: 10px;
}

.ayuda div h5 {
    font-size: 10px;
}

.ayuda div img {
    height: 15vh;
    width: 30vh;
}

/*--------------------------------------------------------- Home Responsive ---------------------------------------------------------*/
/*  Ger y Daro  */

    /* MEDIDAS ESTANDAR DE PANTALLAS

       480px celus
       768px para tablets
       1140px Not y Netbook
       1400px (en adelante) Monitores grandes
        Orienteyshon

        @media (orientation: landscape) {
         <!-- Aquí van todos los estilos CSS -->
        }

        
        Portrait: orientación vertical
        Landscape: orientación horizontal

            (min-width: 320px) and (max-width: 768px)
    */
 

@media(orientation: Portrait){

    /* SECTION TABLET/CELU */

   .section{
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-top: 25px;
       width: auto;
       
       align-items: center;
       margin: auto;
       margin-bottom: 25px;
       border-radius: 10px;
       margin-left: 2vh;
       margin-right: 2vh;
       
   }

   /* DIV CALENDARIO*/
   

   .banner{
    padding-bottom: 0vh;
   } 
   
   .calendario{
    padding-bottom: 3vh;
   }

    /* CARRUSEL PRINCIPAL */

.section h2{
    padding-bottom: 25px;
}    
 
#carouselExampleCaptions {
    margin-top: 25px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 3vh;
    
}

#carouselExampleCaptions img {
    max-width: 90vh;
    max-height: 75vh;
}

#tituloCarousel {
    margin-top: 15px;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

    /* Publicidades */

 .divbootstrap{
    display: flexbox;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
 }

.cardUno {
    height: auto;
    width: auto;
    border-radius: 10px;
    margin-bottom: 2vh;
    
    
}

.cardDos{
    
    height: auto;
    width: auto;
    border-radius: 10px;
    
  
}

.divbootstrap div h5 {
    font-size: 12px;
}

.divbootstrap div img {
   
    height: 20vh;
    width: 30vh;
   
}




}

@media (min-width: 750px) and (max-width: 1100px) {

    /* SECTION Net y Not */

   .section{
       display: flex;
       flex-flow: row wrap ;
       justify-content:flex start;
       margin-top: 20px;
       width: auto;
       
       align-items: center;
       margin: auto;
       margin-bottom: 20px;
       border-radius: 10px;
       margin-left: auto;
       margin-right: auto;
       
    }



   /* DIV CALENDARIO*/

   #colorFondo{
    width: auto;
    height: auto;
   

   }
   

   .banner{
    padding-bottom:auto;
    display: flex;
    justify-content: center;
    
   } 
   
   .calendario{
    padding-bottom: 3vh;
   }

    /* CARRUSEL PRINCIPAL */

.section h2{
    padding-bottom: 15px;
}    
 
#carouselExampleCaptions {
    margin-top: 20px;
    width: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 3vh;
    
    
}

#carouselExampleCaptions img {
    max-width: 90vh;
    max-height: 75vh;
    min-width: 80%;
    min-height: 80%;
}

#tituloCarousel {
    margin-top: 10px;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

    /* Publicidades */

 .divbootstrap{
    display: flexbox;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
 }

.cardUno {
    height: auto;
    width: auto;
    border-radius: 10px;
    margin-bottom: 2vh;
    
    
}

.cardDos{
    
    height: auto;
    width: auto;
    border-radius: 10px;
    
  
}

.divbootstrap div h5 {
    font-size: 12px;
}

.divbootstrap div img {
   
    height: 20vh;
    width: 30vh;
   
}




}


 
 

/*--------------------------------------------------------- Home Responsive ---------------------------------------------------------*/   


                                