* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


/*Colores
#E24E42 Papaya
#E9B000 Mustard
#EB6E80 Blush
#008F95 aqua
*/

.bodyUser {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.sectionUser {
    margin-top: 50px;
}

.contenedor {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.titleUser {
    margin: auto;
    text-align: center;
    font-size: 8vh;
    color: white;
    border-bottom: 3px solid #EB6E80;  
         
}

.infoUser {
    margin-left: 20px;
    width: 60%;
    height: 90vh;
    padding-top: 10vh;
    margin-bottom: 20px;
}

.user {
    width: 30%;
    padding: 80px 20px;
    /* background: #fff; */
    position: absolute;
    border-radius: 20px;
    transition: all 300ms;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 143, 149, 0.6110819327731092) 0%);
}

.user p {
    border-bottom: 1px solid gray;
    margin: 5%;
}

.user img {
    margin-left: 40%;
    width: 10vh;
}

.user button {
    padding: 5px 20px;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    background: #EB6E80;
    color: white;
    cursor: pointer;
    outline: none;
    margin-left: 37%;
}

.sinBorde {
    border: 0;
    font-family: 'Poppins';
    font-size: 16px;
    outline: none;
  }

@media (max-width: 760px){
    .contenedor{
        flex-direction: column;
    }
    .infoUser {
        margin-left: -70px;
    }
    .user {
        width: 35vh;
    }
}