<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ENTERarte - Todo lo que busques está aquí</title>

    <!--CARRITO-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <!--FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://wise.com/currency-converter-assets/fonts/TW-Averta-Regular.woff2" rel="stylesheet">


    <!--NAV-->
    <link rel="stylesheet" href="css/nav.css">

    <!--CSS-->
    <link href="css/style.css" rel="stylesheet">

    <!--FOOTER-->
    <link rel="stylesheet" href="css/footer.css">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--JS del HEADER-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>
    <!-- HEADER -->
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
                </label>
            <label class="logo"><span style="font-weight: normal;">ENTER</span>arte</label>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="pages/post.html">Publicar</a></li>
                <li><a href="pages/about.html">Quienes somos</a></li>
                <li><a href="pages/profileUser.html">Mi Cuenta</a></li>
                <ul class="navbar-right">
                    <!--PC-->
                    <!-- <li id="pc"><a href="./cart.html" id="cart"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li> -->
                    <!-- MOVIL-->
                    <li id="movil"><a href="pages/cart.html" id="cart"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge"></span></a></li>
                </ul>
                <li><a href="pages/login.html">Login</a></li>
            </ul>
        </nav>

        <!-- <div class="conteiner">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">0</span>
                    <div class="shopping-cart-total">
                    </div>
                </div>

                <ul class="shopping-cart-items">
                </ul>

                <a href="cart.html" class="button">Checkout</a>
            </div>
        </div> -->
    </header>
    <br><br>

    <!-- MAIN -->
    <main role="main">
        <!-- FOTO PRINCIPAL -->
        <section class="jumbotron text-center principal">
            <div class="m-5">
                <h1></h1>
            </div>
        </section>

        <h1 style="display: none;">ENTERarte</h1>

    </main>
    <section class="section">

        <!--DIV AGENDA-->

        <div id="colorFondo">
            <div class="banner">
                <div class="container">
                    <p style="margin-bottom: 0px;" class="texto-derecha floatR desaparece"><input type="text" name="buscador" placeholder="Buscar..." class="buscador" id="buscador"><button class="btn-search" id="buttonSearch"><i class="material-icons">Buscar</i></button></p>
                    <div class="clearfix"></div>
                    <br>
                </div>
            </div>
            <div id="calendario-cont" class="calendario-cont">
                <h5 class="calendariotitulo">CALENDARIO DE EVENTOS</h5>
                <div id="calendario" class="calendario">
                    <iframe src="https://calendar.google.com/calendar/embed?height=250&wkst=1&bgcolor=%23ffffff&ctz=America%2FArgentina%2FBuenos_Aires&showTitle=0&showNav=0&showPrint=0&showTabs=0&showTz=0&showCalendars=0&showDate=1&src=ZGFyaW9naWFuYUBnbWFpbC5jb20&color=%237986CB" style="border-width:0" width="250" height="250" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>

        <!--DIV CAROUSEL-->

        <div>
            <div>
                <h2 class="prox-eventos">Proximos Eventos</h2>
            </div>

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">


                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/circo.jpg" class="d-block w-100" alt="circo">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>CIRCO DE KAREN</h3>
                            <em><p>15/10</p></em>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/musica.jpg" class="d-block w-100" alt="musica">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>LOS PALMERA</h3>
                            <em><p>20/10</p></em>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/teatro.jpg" class="d-block w-100" alt="teatro">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>OBRA ABSURDA</h3>
                            <em><p>27/10</p></em>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
            </div>
        </div>

        <!--DIV PUBLICIDAD-->

        <!--GeR y David -->

        <div class="divbootstrap">
            <!--<h4 id="Titulo_Anuncio">ANUNCIOS PUBLICITARIOS</h4>-->

            <div class="card">
                <img src="img/Jarrones-en-ceramica.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TeBaS (tu cerámica)</h5>
                    <p class="card-text">La mejor relación precio-calidad la encontras en <em>TeBaS</em>.</p>
                    <a href="#" class="btn btn-primary"> Ver Catálogo </a>
                </div>
            </div>
            <div class="cardUno">
                <img src="img/Ghost.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Curso de Cerámica</h5>
                    <p class="card-text">Aprende el milenario arte de la alfarería . . . Balato Balato</p>
                    <a href="#" class="btn btn-primary"> Recibir Información </a>
                </div>
            </div>
        </div>

    </section>

    <!-- FOOTER -->
    <footer>
        <div class="container-footer-all">
            <div class="container-body">


                <div class="column1">
                    <h1> Mas informacion de la Compañia</h1>
                    <p> EnterARTE ofrece a sus usuarios un abanico infinito de opciones para que el visitante se lleve la mejor de las experiencias.

                    </p>
                </div>

                <div class="column2">
                    <h1> Redes Sociales</h1>
                    <div class="row">
                        <img src="img/face.jpg">
                        <label> Facebook </label>
                    </div>
                    <div class="row">
                        <img src="img/insta.jpg">
                        <label> Instagram </label>
                    </div>
                    <div class="row">
                        <img src="img/twitter.jpg">
                        <label> Twitter </label>
                    </div>

                </div>

                <div class="column3">

                    <h1> Información Contactos</h1>
                    <div class="row2">
                        <img src="img/casa.jpg">
                        <label> Contamos con los siguientes medios de comunicación:</label>
                    </div>

                    <div class="row2">
                        <img src="img/whatsapp.jpg">
                        <label> Cel. 2494-454541 </label>
                    </div>

                    <div class="row2">
                        <img src="img/correo.jpg">
                        <label> correo electronico: enterarte@hotmail.com </label>
                    </div>
                </div>
            </div>
            <div class="container-footer">
                <div class="copyright"> © 2022 EnterArte, Inc.</div>
            </div>


        </div>

    </footer>
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/carrito.js"></script>
    <script src="js/search.js"></script>
</body>

</html>