<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTERarte</title>

    <!-- Icono en la pestaña -->
    <link rel="shortcut icon" href="../img/Logo Enter Arte Solo PNG.png" />

    <!--CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/pago.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/event.css">
    <link rel="stylesheet" href="../css/events.css">

    <!--JS del HEADER-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.min.css'>
</head>

<body>
    <!--HEADER-->
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <img src="../img/navbar.png" id="navbar-img" alt="">
            </label>
            <label class="logo"><img class="logo-img-user" src="../img/Logo Enter Arte Solo PNG.png" alt=""><span style="font-weight: normal;">ENTER</span>arte</label>
            <ul>
                <li><a href="../home.html">Inicio</a></li>
                <li><a href="event.html">Eventos</a></li>
                <li><a href="post.html">Publicar</a></li>
                <li><a href="about.html">Quienes somos</a></li>
                <li><a href="profileUser.html">Mi Cuenta</a></li>
                <li><a href="login.html">Login</a></li>
                <ul class="navbar-right">
                    <!--PC-->
                    <li id="pc">
                        <a href="#" id="cart">
                            <i class="fa"></i>
                            <div class='cart icon-basket'>
                                <span class='number'></span>
                            </div>
                        </a>
                    </li>
                    <!--MOVIL-->
                    <li id="movil">
                        <a href="#" class="active">
                            <i class="fa"></i>
                            <div class='cart icon-basket'>
                                <span class='number'></span>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class='mini'>
                    <ul class="shopping-cart-items">
                        <p class='products'>Vacío</p>
                        <p class='names'></p>
                        <p class='miniprice'></p>
                        <a href="cart.html" class="button">Revisar compra</a>
                    </ul>
                </div>
            </ul>
        </nav>
    </header>
    <!--SECTION-->
    <section>
        <div class="contenedorPago">
            <h2 class="tituloMedios">Medios de pago</h2>
            <!--<div class="botoneraPago">
                <button type="button" class="pago efectivo">Efectivo</button>
                <button type="button" class="pago debito">Tarjeta de debito</button>
                <button type="button" class="pago credito">Tarjeta de credito</button>
                <button type="button" class="pago mp">Mercado Pago</button>
            </div>-->
            <div class="rowTab">
                <div class="centerTab">
                    <ul>
                        <li class="radio"><label>Tarjeta debito<input name="radio-buttons" value="1"  type="radio" class="userRatings" checked></label></li>
                        <li class="radio"><label>Tarjeta credito<input name="radio-buttons" value="2"  type="radio" class="userRatings" ></label></li>
                        <li class="radio"><label>Mercado pago<input name="radio-buttons" value="3"  type="radio" class="userRatings" ></label></li>
                    </ul>
                </div>
            </div>
            <div class="formularioPago">
                <form action="">
                    <input type="text" placeholder="Cupon de descuento">
                    <button>Validar</button>
                </form>
            </div>
            <div class="submitButton">
                <button type="submit" class="submitBtn">Pagar</button>
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <footer>
        <div class="container-footer-all">
            <div class="container-body">


                <div class="column1">
                    <h1> Más información de la Compañía</h1>

                    <p> EnterARTE ofrece a sus usuarios un abanico infinito de opciones para que el visitante se lleve la mejor de las experiencias.</p>
                    <a class="link-footer" href="./terms.html">Términos y condiciones</a><br><br>
                    <a class="link-footer" href="./politic.html">Política de privacidad</a><br><br>
                    <a class="link-footer" href="./faq.html">Preguntas frecuentes</a><br>
                </div>

                <div class="column2">
                    <h1> Redes Sociales</h1>
                    <div class="row">

                        <a class="link-footer" href="#"><img src="../img/face.jpg">
                        </a>

                    </div>
                    <div class="row">
                        <a class="link-footer" href="#"><img src="../img/insta.jpg">
                        </a>
                    </div>

                    <div class="row">
                        <a class="link-footer" href="#"><img src="../img/twitter.jpg">
                        </a>
                    </div>

                </div>


                <div class="column3">

                    <h1>Contactanos</h1>
                    <div class="row2">
                        <img src="../img/casa.jpg">
                    </div>

                    <div class="row2">
                        <a class="link-footer" href="#"><img src="../img/whatsapp.jpg">
                        </a>
                    </div>

                    <div class="row2">
                        <a class="link-footer" href="#"> <img src="../img/correo.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="container-footer">
                <div class="copyright"> © 2022 EnterArte, Inc.</div>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="../js/navUser.js"></script>

</html>