<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTERarte</title>

    <!-- Icono en la pestaña -->
    <link rel="shortcut icon" href="../img/Logo Enter Arte Solo PNG.png" />

    <!--CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/event.css">
    <link rel="stylesheet" href="../css/events.css">

    <!--JS del HEADER-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.min.css'>
</head>

<body class="bodyUser">
    <!--HEADER-->
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <img src="../img/navbar.png" id="navbar-img" alt="">
            </label>
            <label class="logo"><img class="logo-img-user" src="../img/Logo Enter Arte Solo PNG.png" alt=""><span style="font-weight: normal;">ENTER</span>arte</label>
            <ul>
                <li><a href="../home.html">Inicio</a></li>
                <li><a href="event.html">Eventos</a></li>
                <li><a href="post.html">Publicar</a></li>
                <li><a href="about.html">Quienes somos</a></li>
                <li><a href="profileUser.html">Mi Cuenta</a></li>
                <li><a href="login.html">Login</a></li>
                <ul class="navbar-right">
                    <!--PC-->
                    <li id="pc">
                        <a href="#" id="cart">
                            <i class="fa"></i>
                            <div class='cart icon-basket'>
                                <span class='number'></span>
                            </div>
                        </a>
                    </li>
                    <!--MOVIL-->
                    <li id="movil">
                        <a href="#" class="active">
                            <i class="fa"></i>
                            <div class='cart icon-basket'>
                                <span class='number'></span>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class='mini'>
                    <ul class="shopping-cart-items">
                        <p class='products'>Vacío</p>
                        <p class='names'></p>
                        <p class='miniprice'></p>
                        <a href="cart.html" class="button">Revisar compra</a>
                    </ul>
                </div>
            </ul>
        </nav>
    </header>
    <br> <br>
    <!--SECTION-->
    <!--SECTION-->
    <section>
        <div class="contenedor">

            <h1 class="titleUser">Mi Usuario</h1>

            <div class="infoUser">
                <div class="user">
                    <img src="../img/user.png" alt="">

                    <form>
                        <p> <input type="text" class="sinBorde" value="Nombre" placeholder="Nombre" required id="nombre" disabled> </p>
                        <p> <input type="text" class="sinBorde" value="Apellido" placeholder="Apellido" required id="apellido" disabled> </p>
                        <p> <input type="text" class="sinBorde" value="Email" placeholder="Email" required id="email" disabled> </p>
                        <p> <input type="text" class="sinBorde" value="Fecha de Nacimiento" placeholder="Fecha de Nacimiento" required id="fechanac" disabled> </p>
                        <p> <input type="text" class="sinBorde" value="Usuario" placeholder="Usuario" required id="usuario" disabled> </p>
                        <button type="button" id="editar" onclick="FbotonOn(this) ;habilitar()">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <footer>
        <div class="container-footer-all">
            <div class="container-body">


                <div class="column1">
                    <h1> Más información de la Compañía</h1>

                    <p> EnterARTE ofrece a sus usuarios un abanico infinito de opciones para que el visitante se lleve la mejor de las experiencias.</p>
                    <a class="link-footer" href="./terms.html">Términos y condiciones</a><br><br>
                    <a class="link-footer" href="./politic.html">Política de privacidad</a><br><br>
                    <a class="link-footer" href="./faq.html">Preguntas frecuentes</a><br>
                </div>

                <div class="column2">
                    <h1> Redes Sociales</h1>
                    <div class="row">

                        <a class="link-footer" href="#"><img src="../img/face.jpg">
                        </a>

                    </div>
                    <div class="row">
                        <a class="link-footer" href="#"><img src="../img/insta.jpg">
                        </a>
                    </div>

                    <div class="row">
                        <a class="link-footer" href="#"><img src="../img/twitter.jpg">
                        </a>
                    </div>

                </div>


                <div class="column3">

                    <h1>Contactanos</h1>
                    <div class="row2">
                        <img src="../img/casa.jpg">
                    </div>

                    <div class="row2">
                        <a class="link-footer" href="#"><img src="../img/whatsapp.jpg">
                        </a>
                    </div>

                    <div class="row2">
                        <a class="link-footer" href="#"> <img src="../img/correo.jpg">
                        </a>

                    </div>
                </div>

            </div>
            <div class="container-footer">
                <div class="copyright"> © 2022 EnterArte, Inc.</div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery-3.4.1.min.js "></script>
    <script src="../js/user.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>